body {
    background: #33b4ff;
    margin: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
}
#Music {
    height: 0;
    width: 0;
    overflow: hidden;
}
#GameHolder {
    width: 1920px;
    position: relative;
    margin: 0 auto;
    background: #00a2ff;
    height: 1080px;
    transform-origin: 50% 0;
    -webkit-transform-origin: 50% 0;
    -o-transform-origin: 50% 0;
}
#ProgressBar {
    width: 968px;
    height: 8px;
    display: none;
    position: absolute;
    bottom: 24px;
    left: 28px;
    border-radius: 12px;
    background: rgba(255,255,255,0.3);
    transition: opacity 0.2s;
    -moz-transition: opacity 0.2s; /* Firefox 4 */
    -webkit-transition: opacity 0.2s; /* Safari and Chrome */
    -o-transition: opacity 0.2s; /* Opera */
}
#ProgressBarIcon {
    background: url('../assets/raccoon_head.png') center center no-repeat;
    background-size: contain;
    width: 45px;
    height: 36px;
    position: absolute;
    top: -18px;
    right: -23px;
}
#ProgressFill {
    width: 0%;
    height: 8px;
    background: #f5211f;
    border-radius: 12px;
    position: relative;
    transition: width 2s;
    -moz-transition: width 2s; /* Firefox 4 */
    -webkit-transition: width 2s; /* Safari and Chrome */
    -o-transition: width 2s; /* Opera */
}
*{
    font-family: Arial;
    color: white;
    -webkit-touch-callout: none!important;
    -webkit-user-select: none!important;
    -khtml-user-select: none!important;
    -moz-user-select: none!important;
    -ms-user-select: none!important;
    user-select: none!important;
}
.canvasHolder{
    width: 100%;
    text-align: center;
}
#canvas{
    display: inline;
    transform-origin: 50% 0;
    -webkit-transform-origin: 50% 0;
}
button {
    background: #07c;
    width: 450px;
    cursor: pointer;
    font-size: 24px;
    margin-bottom: 20px;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 15px 0;
}
button:hover, button:focus, button:active {
    background: #fff;
    color: #333;
}
button.disabled {
    cursor: default;
    background: #444!important;
    color: #fff!important;
}
.navigation {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 450px;
}
.close-button {
    float: right;
    margin: -55px -55px 5px 5px;
    width: 100px;
    display: block;
    border: 4px solid #fff;
    background: #00a2ff;
    border-radius: 100px;
    line-height: 145px;
    cursor: pointer;
    font-size: 24px;
    color: #fff;
    text-indent: -40px;
    font-weight: bold;
    padding: 5px;
    height: 100px;
}
.close-button:hover, .level:hover, .level.completed:hover {
    background: #fff!important;
}
.debug {
    width: 273px;
    overflow-y: scroll;
    background: rgba(0,0,0,0.2);
    border: 3px solid rgba(0,0,0,0.5);
    position: absolute;
    bottom: 5px;
    top: 42px;
    left: 5px;
    display: none;
    padding-left: 5px;
    padding-top: 5px;
}
.title-logo {
    background: url('../assets/titlescreen_logo.png') center 25% no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
#WrapsSettings, #WrapsLevels, #WrapsPostScreen {
    display: none;
    text-align: center;
    position: absolute;
    left: 100px;
    border: 2px solid #333;
    right: 100px;
    bottom: 100px;
    top: 100px;
    border-radius: 5px 0 5px 5px;
    background: #333;
    color: #fff;
    overflow: hidden;
}
.stats-box.show {
    border: 2px solid #fff;
    color: #fff;
}
.stats-box {
    transition: all 0.8s cubic-bezier(1, -0.53, 0.0, 1.1);
    font-size: 24px;
    height: 50px;
    border: 2px solid transparent;
    width: 600px;
    color: #333;
    position: absolute;
    bottom: -35px;
    right: 20px;
    border-radius: 6px;
    background: #333;
    line-height: 50px;
}
#WrapsSettings h1, #WrapsLevels h1 {
    float: left;
    font-weight: normal;
    margin: 20px 20px 0 30px;
    line-height: 30px;
    padding-top: 0;
    font-size: 56px;
}
#WrapsLevels ul {
    list-style-type: none;
    padding: 0;
    margin-top: 100px;
    clear: both;
}
.level {
    width: 80px;
    height: 80px;
    display: inline-block;
    border: 8px solid #ccc;
    background: #999;
    color: #fff;
    line-height: 80px;
    font-weight: bold;
    font-size: 32px;
    border-radius: 48px;
    margin: 20px;
    cursor: pointer;
}
.level:hover {
    color: #333;
}
.level.disabled, .level.disabled:hover, .level.disabled:focus, .level.disabled:active {
    background: #999!important;
    color: #fff;
    border-color: #444;
    cursor: default;
}
.level.completed1 {
    border-color: #fff;
    background: #00a2ff;
}
.level.completed2
{
    border-color: green;
    background: #00a2ff;
}
.level.completed3
{
    border-color: orange;
    background: #00a2ff;
}
@media screen and (-ms-view-state: fullscreen-landscape) {
}

@media screen and (-ms-view-state: filled) {
}

@media screen and (-ms-view-state: snapped) {
}

@media screen and (-ms-view-state: fullscreen-portrait) {
}
